In [1]:
#dictionary #key and value pairs
dict1=dict()
print(dict1)
dict2={}
print(dict2)

{}
{}

In [2]:
dict3 = {1:"bangalore",2:"mysore",3:"chennai",4:"hyderabad"}
print(dict3)
print(type(dict3))

{1: 'bangalore', 2: 'mysore', 3: 'chennai', 4: 'hyderabad'}
<class 'dict'>

In [3]:
dict3[1]="pune"
print(dict3)

{1: 'pune', 2: 'mysore', 3: 'chennai', 4: 'hyderabad'}

In [4]:
dict4 = {1:"bangalore",2:"mysore",3:"chennai",4:"hyderabad",4:"singapore"}
print(dict4)
print(type(dict4))

{1: 'bangalore', 2: 'mysore', 3: 'chennai', 4: 'singapore'}
<class 'dict'>

In [5]:
dict5 = {1:"bangalore",2:"mysore",3:"chennai",4:"hyderabad",5:"mysore"}
print(dict5)
print(type(dict5))

{1: 'bangalore', 2: 'mysore', 3: 'chennai', 4: 'hyderabad', 5: 'mysore'}
<class 'dict'>

In [6]:
for i in dict5:
    print(i)

1
2
3
4
5

In [7]:
for i in dict5.items():
    print(i)
    
    #items will pick both key and value pairs

(1, 'bangalore')
(2, 'mysore')
(3, 'chennai')
(4, 'hyderabad')
(5, 'mysore')

In [8]:
#set is a collection of keys/collection of unique values
set2=set()
print(set2)
print(type(set2))

set()
<class 'set'>

In [9]:
set1={4,5,6,7,8,9,1}
print(set1)
print(type(set1))

{1, 4, 5, 6, 7, 8, 9}
<class 'set'>

In [10]:
for i in set1:
    print(i)

1
4
5
6
7
8
9

In [11]:
set1.update([1000,2000]) #shift+tab gets the info of the function
print(set1)

{1, 4, 5, 6, 7, 8, 9, 2000, 1000}

# Manipulation functions

-> Pre defined functions

In [12]:
list1=[1,2,3,4,5,6]
list1.append(7)
print(list1)

[1, 2, 3, 4, 5, 6, 7]

In [13]:
list1.extend([8,9,10])
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [14]:
list1.append([800,900,1000])
print(list1)
print(list1[-1][0])#the first bracket returns the value of first list and second indictaes the list inside

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, [800, 900, 1000]]
800

In [15]:
l2=[10,20,30,40,50,60]
l2.clear()
print(l2)

[]

In [16]:
del l2

In [17]:
l3=[10,20,30,40]
print(l3.pop()) #lifo

40

In [18]:
l3.pop()

30

In [19]:
l4=[10,20,30,40]
l4

[10, 20, 30, 40]

In [20]:
l4.sort(reverse=True)
print(l4)

[40, 30, 20, 10]

In [21]:
l5=[50,40,30,20,10]

print(l5)

[50, 40, 30, 20, 10]

In [22]:
l5.sort(reverse=False)
print(l5)

[10, 20, 30, 40, 50]

In [23]:
t1=(10,20,30,40,30)
print(t1.count(30))
print(t1.index(30,3,5))

2
4

In [24]:
d1={1:"rahul",2:"kumar",3:"peter"}
print(d1)

{1: 'rahul', 2: 'kumar', 3: 'peter'}

In [25]:
d1.pop(1)

'rahul'

In [26]:
d1.popitem()

(3, 'peter')

In [27]:
print(d1)

{2: 'kumar'}

In [28]:
d2={1:"sp",2:"mp",3:"kp"}
print(d2.keys(),d2.values(),d2.items())

dict_keys([1, 2, 3]) dict_values(['sp', 'mp', 'kp']) dict_items([(1, 'sp'), (2, 'mp'), (3, 'kp')])

In [29]:
d3=d2.copy()
print(d3,d2)

{1: 'sp', 2: 'mp', 3: 'kp'} {1: 'sp', 2: 'mp', 3: 'kp'}

In [30]:
set_union1={1,2,3,4,5}
set_union2={5,0,9,8,7}
print(set_union1.union(set_union2))
print(set_union1.intersection(set_union2))

{0, 1, 2, 3, 4, 5, 7, 8, 9}
{5}

In [31]:
set_union3={1,2,3,4,5}
set_union4={4,5}
print(set_union3.issuperset(set_union4))
print(set_union4.issubset(set_union3))
print(set_union4.isdisjoint(set_union3))

True
True
False

In [32]:
print("before",set_union3)    
set_union3.intersection_update(set_union4)
print("after",set_union3)

before {1, 2, 3, 4, 5}
after {4, 5}

In [33]:
set_union5={1,2,3,4,5}
set_union6={1,2,7,8,9}
print(set_union5.difference(set_union6))

{3, 4, 5}

In [34]:
print("before",set_union5)
set_union5.difference_update(set_union6)
print("after",set_union5)

before {1, 2, 3, 4, 5}
after {3, 4, 5}

In [35]:
#remove and discard
set_union6.remove(1)
print(set_union6)

{2, 7, 8, 9}

In [36]:
set_union6.discard(2)
print(set_union6)

{7, 8, 9}

In [37]:
set_union6.discard(2)

In [38]:
print(set_union6)

{7, 8, 9}

# Functions

In [39]:
#non parameterised function
def my_function():
    print("hello welcome to a function")

In [40]:
my_function()

hello welcome to a function

In [41]:
#parameterised function

def my_function1(name):
    print("my name is",name)

In [42]:
my_function1("shreyas")

my name is shreyas

In [43]:
def add(a,b):
    sum=a+b
    print(sum)

In [44]:
add(3,4)

7

In [45]:
def  main():
    my_function1("shreyas")
    add(3,4)

In [46]:
if __name__== "__main__" :
    main()

my name is shreyas
7

In [50]:
a=int(input('enter the value of a:'))
b=int(input('enter the value of b:'))
print(a,b)
sum2=a+b
print(sum2)

enter the value of a:10
enter the value of b:20
10 20
30

In [54]:
a1=int(input('enter the value of a:'))
b1=int(input('enter the value of b:'))

def add():
    sum1=a1+b1
    print(sum1)
    
add()

enter the value of a:10
enter the value of b:20
30