# Python 

* Simple language
* Platform independent
* Dynamic
* Object Oriented
* Open Source

## Variable

1. Container
2. Identifier
3. Name given to a memory location



## Data type 

1. Numberic(int, float, complex)
2. Text Type(Strings, characters)
3. Sequence(list,tuples)
4. Mapping->map value to a unique key values(Dictionaries)
5. Set type(set)
6. Boolean(T/F)

In [3]:
print("Hello world to datamites") #shift+enter

Hello world to datamites

#data analysis   #esc+m to do a markdown
#markdown---> notes

**hello world**

### hello world

single quotes and double quotes both will work

In [19]:
# variable is the container which stores a value
#numeric data types
a=10
b=5.5
c=10+5j
print("The value of a is",a)
print("data type of variable a is:", type(a))
print("The value of b is",b)
print("data type of variable b is:", type(b))
print("The value of c is",c)
print("data type of variable c is:", type(c))
print(c.real , c.imag)

The value of a is 10
data type of variable a is: <class 'int'>
The value of b is 5.5
data type of variable b is: <class 'float'>
The value of c is (10+5j)
data type of variable c is: <class 'complex'>
10.0 5.0

# String 

Sequence of characters

In [29]:
str1='hello world'
print(str1)
print(str1[0:2])
print(str1[-4:-2])
print(str1[0])
print(str1[0:5])
print(str1[-11:-9])
print(str1[1:])
print(str1[:10])
print(str1[:-1])

hello world
he
or
h
hello
he
ello world
hello worl
hello worl

In [31]:
#type casting

i=10
print(i)
print(type(i))
f=float(i)
print(type(f))
print(f)

10
<class 'int'>
<class 'float'>
10.0

In [32]:
i=10.5
print(i)
print(type(i))
f=int(i)
print(type(f))
print(f)

10.5
<class 'float'>
<class 'int'>
10

In [35]:
i='5'
print(i)
print(type(i))
f=int(i)
print(type(f))
print(f)

5
<class 'str'>
<class 'int'>
5

In [39]:
#boolean

a= True
print(a)
print(type(a))

True
<class 'bool'>

In [47]:
#int,float to bool
i= 10
j=5.5
b1=bool(i)
b2=bool(j)
print(b1,type(b1))
print("*"*40)
print(b2,type(b2))
#bool to int,float
i1=int(a)
print(i1,type(i1))
i2=float(a)
print(i2,type(i2))

True <class 'bool'>
****************************************
True <class 'bool'>
1 <class 'int'>
1.0 <class 'float'>

In [49]:
#list ==> collection of elements
l1=list() #empty list
print(l1, type(l1))
l2=[]
print(l2, type(l2))

[] <class 'list'>
[] <class 'list'>

In [54]:
#ordered list
#presering the insertion order
l1=[1,2,3,4,5,6,20.5,10+5j,"hi"]+[2,3,4]
print(l1)

[1, 2, 3, 4, 5, 6, 20.5, (10+5j), 'hi', 2, 3, 4]

In [55]:
#mutable --> changeable
l1[0]=100
print(l1)

[100, 2, 3, 4, 5, 6, 20.5, (10+5j), 'hi', 2, 3, 4]

In [56]:
for i in l1:
    print(i)

100
2
3
4
5
6
20.5
(10+5j)
hi
2
3
4

In [68]:
i=0
while i<len(l1):
    print(l1[i])
    i=i+1

100
2
3
4
5
6
20.5
(10+5j)
hi
2
3
4

In [73]:
tuple1= tuple([1,2,3,4,5])
print(tuple1)

(1, 2, 3, 4, 5)

In [75]:
t1=(1,2,3,10.5)
print(t1)

(1, 2, 3, 10.5)

In [76]:
for i in t1:
    print(i)

1
2
3
10.5